.text-gray {
    color: gray;
}

.text-lightgray {
    color: lightgray;
}

.text-white {
    color: white;
}

.blue-gray {
    background-color: #607D8B;
}

.blank-content {
    margin-top: 130px;
}
@media (min-width: 768px) and (max-width:991px) {
    .blank-content {
        margin-top: 250px;
    }
}

.rt-tbody > .rt-td {
    vertical-align: middle;
}

#app {
    height: 100%;
}

.navbar-header {
    margin-top: 10px;
}
