.text-gray {
    color: gray;
}

.text-lightgray {
    color: lightgray;
}

.text-white {
    color: white;
}

.blue-gray {
    background-color: #607D8B;
}

.bg-main-color {
    background-color: #023434;
}

.bg-secondary-color {
    background-color: #71BF96;
}

.blank-content {
    margin-top: 130px;
}
@media (min-width: 768px) and (max-width:991px) {
    .blank-content {
        margin-top: 250px;
    }
}

.rt-tbody > .rt-td {
    vertical-align: middle;
}

#app {
    min-height: 100%;
}

.navbar-header {
    margin-top: 10px;
}

span .badge-primary {
    background-color: #337ab7;
    color: #fff;
}
span .badge-success {
    background-color: #5cb85c;
    color: #fff;
}
span .badge-info {
    background-color: #5bc0de;
    color: #fff;
}
span .badge-warning {
    background-color: #f0ad4e;
    color: #fff;
}
span .badge-danger {
    background-color: #d9534f;
    color: #fff;
}
